<div class="forgot-container">
    <h2>Reset Password</h2>
    <form [formGroup]="forgotPassForm">
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
                id="newPassword"
                type="text"
                placeholder="Enter your Password"
                formControlName="newpass"
            />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
                id="confirmPassword"
                type="text"
                placeholder="Re-Enter your Password"
                formControlName="confirmpass"
            />
        </div>
        <button (click)="onSubmit()">Confirm New Password</button>
    </form>
</div>