<div class="accounts-summary mat-elevation-z3">
    <h2>Your Accounts</h2>
    <mat-grid-list cols="2" rowHeight="100px" gutterSize="16px">
      <mat-grid-tile *ngFor="let account of accounts" class="account-tile">
        <mat-card [routerLink]="['/account', account.id]" class="clickable-card">
          <mat-card-header>
            <mat-card-title>{{ account.accType }} Account</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Account Number: {{ account.accNumber }}</p>
            <p>Balance: {{ account.balance | currency:account.currency }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  


<footer></footer>